.split {
  margin-top: 3em;
  height: 100%;
  width: 50%;
  position: fixed;
  overflow-x: hidden;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.field {
  font-size: 0.9em;
  margin-bottom: 0;
  margin-top: 0;
}