html {
  font-family: sans-serif;
  background-color: cornsilk;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 1em;
  font-size: 2em;
  color: greenyellow;
  text-shadow: 2px 2px green;
}

.subtitle {
  margin-top: 1em;
  font-size: 1.5em;
  color: #333;
}